<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <title>TechView</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TechView - all interview questions in one place</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div class="row">
            <div class="col-xs-6 col-sm-8">
              <h4 class="sub-header">All Companies</h4>
            </div>
            <div class="col-xs-4 col-sm-2">
              <a href="/topics/new" class="btn btn-default" role="button">+</a>
            </div>
          </div>
          <ul class="nav nav-sidebar">
            {% for company in all_companies %}
            <li class="active">
              <a href="#">{{company.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-sm-9 col-md-10 main">
          {% block content %}
          {% endblock %}
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>
