{% extends "base.html" %}

{% block content %}

  <h3>Are you sure to delete this company?</h3>

  <div class="col-sm-8 col-md-6">
    <div class="row">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{company.name}}</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="text-right">
        <form action="" method="post">
          <button name="deleteCompany" value="deleteCompany" class="btn btn-primary">Delete</button>
        </form>
        <a href="/companies" class="btn btn-default" role="button">Cancel</a>
      </p>
    </div>
  </div>

{% endblock %}
