{% extends "base.html" %}

{% block content %}

  <h2 class="page-header">Edit Card - {{company.name}}</h2>
  <form class="col-sm-6 col-sm-8" action="{{ url_for('editCard', company_id=card.company_id, card_id=card.id) }}" method="post" id="editCardRow">
    <div class="form-group">
      <label for="addNewCardName">Card Name</label>
      <input class="form-control" name="newCardName" value="{{card.name}}">
    </div>
    <div class="form-group">
      <label for="addNewCardContent">Content</label>
      <textarea class="form-control" name="newCardContent">{{card.content}}</textarea>
    </div>
    <div class="form-group">
      <label for="changeTopic">Company</label>
      <br>
      <select name="newCompanyId" class="bootstrap-select">
        <option value="{{company.id}}" selected="selected">{{company.name}}</option>
        {% for c in all_companies %}
          {% if c.id != company.id %}
            <option value="{{c.id}}">{{c.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <button type="submit" form="editCardRow" class="btn btn-primary">Save</button>
    <a href="/companies/{{company.id}}" class="btn btn-default" role="button">Cancel</a>

    <div id="error">{{error}}</div>
  </form>

{% endblock %}
