{% extends "base.html" %}

{% block content %}

  <h2 class="page-header">Edit Card - {{company.name}}</h2>
  <form class="col-sm-6 col-sm-8">
    <div class="form-group">
      <label for="addNewCardName">Card Name</label>
      <input class="form-control" id="newCardName" value="{{card.name}}">
    </div>
    <div class="form-group">
      <label for="addNewCardContent">Content</label>
      <textarea class="form-control" id="newCardContent">{{card.content}}</textarea>
    </div>
    <div class="form-group">
      <label for="changeTopic">Company</label>
      <br>
      <select class="bootstrap-select">
        <option value="{{company.id}}" selected="selected">{{company.name}}</option>
        {% for c in all_companies %}
          {% if c.id != company.id %}
            <option value="{{c.id}}">{{c.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/companies/{{company.id}}" class="btn btn-default" role="button">Cancel</a>
  </form>

  <div id="error">{{error}}</div>

{% endblock %}
