{% extends "base.html" %}

{% block content %}

  <div class="col-sm-3 col-md-2 sidebar">
    <h3 class="sub-header">All Topics</h3>
    <ul class="nav nav-sidebar">
    {% for topic in all_topics %}
      <li class="active">
        <a href="#">{{topic.name}}</a>
      </li>
    {% endfor %}
    </ul>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">Recent Cards</h2>
    <ul class="nav">
    {% for card in all_cards %}
      <li class="row">
        {{card.name}}
      </li>
    {% endfor %}
    </ul>
  </div>

{% endblock %}
